<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>register</title>
</head>
<body>
    <div class="container">
        <div class="chat_block">
            <h3>CHAT A.I+</h3>
            <div class="head">
                <h1><pre>Learn, Discover & 
            Automate in One Place.</pre></h1>
            </div>
            <div class="chat">
                <div class="messages">
                    <!-- <div>
                        <h4>
                            Привет
                        </h4>
                    </div> -->
                </div>
                <div class="input_frame">
                    <img src="{% static 'media/smile.svg' %}">
                    <input type="text" id="input_message">
                    <img src="{% static 'media/image.svg' %}">
                    <button id="send_message">
                        <img src="{% static 'media/send_message.svg' %}">
                    </button>
                </div>
            </div>
        </div>
        <div class="register">
            <h1>
                Sign up with free trail
            </h1>
            <p class="sign_up">
                Empower your experience, sign up for a free account today
            </p>
            <form action="">
                <label for="email">
                    Email Address*
                </label>
                <input type="email" id="email" placeholder="ex.email@domain.com" required>
                <label for="password">
                    Password*
                </label>
                <input type="password" id="password" placeholder="Enter password" required>
                <p> 
                    By registering for an account, you are consenting to our Team of Service and cofirming that you have reviewed and accepted the Global Privacy Statement.
                </p>
                <button type="submit" class="register_button">
                    Get started free
                </button>
            </form>
            <p class="account" color="black">
                Aready have an account?<a>Login</a> 
            </p>
            <div class="better">
                <hr width="10%" size="1" color="#7c7c7c">
                <p>
                    Or better yet...
                </p>
                <hr width="10%" size="1" color="#7c7c7c">
            </div>
            <div>
                <button class="google">
                    <img src="{% static 'media/google.svg' %}" width="20">
                    Continue with Google
                </button>
            </div>
            <div>
                <button class="yandex">
                    <img src="{% static 'media/yandex.svg' %}">
                    Continue with Yandex
                </button>
            </div>  
        </div>
    </div>

    <script src="{% static 'js/home.js' %}"></script>
</body>
</html>